.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.transparent {
  background-color: transparent !important;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.site-logo {
    max-width: 600px;
    display: block;
    margin: 0 auto;
}