<md-toolbar class="transparent mat-typography">
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button fxFlex="85px" md-menu-item routerLink="/home">Home</button>
        <button fxFlex="85px" md-menu-item routerLink="/about">About</button>
        <button fxFlex="90px" md-menu-item routerLink="/gallery">Gallery</button>
        <button fxFlex="125px" md-menu-item routerLink="/investment">Investment</button>
    </div>
    <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <md-icon>menu</md-icon>
    </button>
    <span class="fill-remaining-space"></span>
</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item routerLink="/home">Home</button>
    <button md-menu-item routerLink="/about">About</button>
    <button md-menu-item routerLink="/gallery">Gallery</button>
    <button md-menu-item routerLink="/investment">Investment</button>
</md-menu>
<div class="site-logo">
    <img src="..\assets\logo.png" alt="logo"/>
</div>
<div>
    <router-outlet></router-outlet>
</div>