<div class="panel panel-primary">
    <div class="panel-heading mat-headline">
        About
    </div>
    <div class="panel panel-body s">
        <section>
            <p>Hello and welcome to Frog on a Lily Photography- I’m glad you’re here!</p>
            <img src="..\assets\me.jpg" alt="me"/>
            <p>My name is Jessica! I’m the Mother,Wife,and friend behind the camera. I’m a professional photographer based out of Northeast Ohio who specialize’s in documenting the beauty of life through modern, fresh and artistic portraiture. My passion for photography has grown over the years. I’m constantly thinking of new places and shoots to benefit you as my client! It’s not the camera that does the work(although it does help..) but the artist behind the lens.</p>
            <p>My goal is to provide a personal, professional, creative, and FUN experience that produces natural images to convey the personality of my subjects and the beautiful connections between people. I believe that images can transcend time, forever reminding us of the precious moments in our lives as they pass.</p>
            <p>The work that I do unfolds through creative projects that are tailored to meet the specific portrait vision of my clients. If you have an idea in mind and want to find a photographer who will work with you to make it come to life then you are in the right place!</p>
            <p>My favorite feedback comes from families who not only love their photos, but who truly enjoyed the process of planning their session and being photographed. It is my belief that exceptional photos are not simply taken, they are created. </p>
            <p>I look forward to seeing you through my lens soon!</p>
            <p>-Jessica</p>
        </section>
    </div>
</div>