<div class="panel panel-primary">
    <div class="panel-heading">
        Investment
    </div>
    <div class="panel panel-body">
        <section>
            <p></p>
            <img src="..\assets\investment1.jpg" alt="me"/>
            <p><b>WEDDINGS</b>-Packages starting at $1600 -Contact for package pricing and add-ons-</p>
            <p><b>ENGAGEMENT SESSIONS</b>– $250 -- 2 hour session + 1 outfit change + up to 2 locations</p>
            <p><b>MATERNITY</b>-$250 -- 2 hour seesion + 1 outfit change + up to 2 locations</p>
            <p><b>BOUDOIR</b>-$275 -- 2-3 hour session</p>
            <p><b>NEWBORN LIFESTYLE</b>-$275 -- 2-3 hours -Newborns are unpredictable, feeding and changes will not alter shooting-</p>
            <p><b>SENIOR PORTRAITS</b>-$250 -- 2 hour session + 1 change of outfit and location</p>
            <p><b>FAMILY SESSIONS</b>-$250 -- 2 hour session + 1 location change -Families larger than 5 will be charged an additional $25 per added member-</p>
            <p><b>BIRTH (FIRST 48)</b>-$225 -- 1-2 hours -Best shot within the first 48 hours-</p>
            <p><b>BIRTH (DELIVERY)</b>-$300 -- 2 hours -$50 for each additional hour</p>
            <p>Additional charges will be added if location is more than 30 miles outside of Munroe Falls city limits.</p>
            <img src="..\assets\investment2.jpg" alt="me"/>
            <img src="..\assets\investment3.jpg" alt="me"/>
            <p>Please contact me for further information on packages and details!</p>
            <p><b><a href="mailto:Frogonalily2@gmail.com">Frogonalily2@gmail.com</a></b></p>
        </section>
    </div>
</div>