/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display|Merriweather');
@import '~@angular/material/theming';

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif'
);

@include mat-core($custom-typography);

html { 
    background: url(/assets/background-1920.jpg) no-repeat top left; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}