<div class="panel panel-primary">
    <div class="panel-heading">
        Welcome!
    </div>
    <div class="panel panel-body">
        <section>
            <p>Do you need a photographer? You’ve come to the right place! Frog on a Lily Photography provides exceptional family, senior, newborn, maternity, engagement, wedding photography, and more! Whether you are preparing to welcome a new baby or interested in capturing the most important moments in your life, I am here to make the experience one that you will remember forever. Please enjoy and take your time browsing through the galleries! Any questions feel free to contact via email.</p>
            
            <p><b><a href="mailto:Frogonalily2@gmail.com">Frogonalily2@gmail.com</a></b></p>
            
            <p>Follow me on <b><a href="https://www.instagram.com/frogonalilyphotography/?hl=en">Instagram</a></b> and <b><a href="https://www.facebook.com/frogonalily/">Facebook</a></b> for special promotions!</p>
            
            <img src="..\assets\walk-out.gif" alt="wedding"/>

            <p>Location<br>
            Frog on a Lily Photography provides portrait and event photography services for the Akron-Hudson area. Travel is always an option.</p>
        </section>
    </div>
</div>